@page
@model PrivacyModel
@{
    ViewData["Title"] = "Add new transaction";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
        <input name="Update filter" type="submit" class="btn btn-default" />

        <input name="date" asp-for="Date" />
        <input name="price" asp-for="Price" />

        <div class="center-block">
            <select name="officeId" asp-items="Model.ClientIds"></select>
        </div>

        <div class="center-block">
            <select name="officeId" asp-items="Model.ServiceIds"></select>
        </div>

        <div class="center-block">
            <select name="officeId" asp-items="Model.WorkersIds"></select>
        </div>

</form>
